<div class="main-content">
    <div class="container-fluid">

<div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">All Users</h4>
            <p class="card-category ">about user's info</p>
        </div>
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <!-- <th>UserId</th> -->
                        <th>Empcode</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <!-- <th>ExpenseManager</th> -->
                    </thead>
                    <tbody>
                        <tr [routerLink]="['/usertrip/', data._id]" *ngFor="let data of items">
                            <!-- <td>{{data._id}}</td>  -->
                            <td>{{data.employee_code}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.role}}</td>
                            <!-- <td>{{data.is_expense_manager_user}}</td> -->
                        </tr>
                    </tbody>
                </table>
    </div>
  </div>
</div>
</div>