
<div class="main-content">
    <div class="container-fluid">
      <i class="fa fa-arrow-left" (click)="goBack()" aria-hidden="true"></i>

        <div class="row">
            <div class="col-md-12">
                <div class="card  ">
                    <div class="card-header rounded mdc-elevation--z6 card-header">
                        <h4 class="card-title">Edit User</h4>
                        <p class="card-category">update user profile</p>
                    </div>
                    <div class="card-body rounded mdc-elevation--z8">
                        <form [formGroup]="editform" novalidate (ngSubmit)="onUpdate()">
  
                             <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Employee Code" type="text" formControlName="employee_code">
                                </mat-form-field>
                              </div>
  
                              <div class="col-md-4 form-group">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Full Name" type="text" formControlName="name">
                                  </mat-form-field>
                              </div>
                              
                              <div class="col-md-4 form-group">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Role</mat-label>
                                    <mat-select (selectionChange)="onEnter($event.value)" formControlName="role" >
                                      <mat-option *ngFor="let rol of role" [value]="rol">
                                        {{rol}}
                                      </mat-option> 
                                    </mat-select>
                                  </mat-form-field>
                              </div>

                              <div *ngIf="(display == 'true')||(display == '')" class="col-md-4 form-group"> 
                                <mat-form-field appearance="fill">
                                  <mat-label>Manager Name</mat-label>
                                  <mat-select formControlName="parent_user_id">
                                    <mat-option *ngFor="let mn of parent_user_id" [value]="mn._id">
                                      {{mn.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <div class="col-md-4 form-group">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" formControlName="email" type="text">
                                  </mat-form-field>
                              </div>
                            
                              <div class="col-md-4 form-group">
                                <mat-label class="row  mb-3 ml-0">Will this user use the Expense Manager?</mat-label>
                                <mat-radio-group class="row mb-3 ml-0" formControlName="is_expense_manager_user" aria-label="Expense Manager">
                                  <mat-radio-button [value]=true>Yes</mat-radio-button>
                                  <mat-radio-button [value]=false>No</mat-radio-button>
                                </mat-radio-group>
                              </div>
                            
                              <div class="col-md-4 mt-3">
                                <button mat-raised-button type="submit"  class="btn btn-Success pull-left">Update Profile</button>
                              </div>
  
                            <div class="clearfix"></div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        
  
    
    </div>
</div>
  