
<div class="main-content">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-md-12">
                <div class="card  ">
                    <div class="card-header rounded mdc-elevation--z6 card-header">
                        <h4 class="card-title">Add Holdings</h4>
                        <p class="card-category">about amount & currency info</p>
                    </div>
                    <div class="card-body rounded mdc-elevation--z8">
                        <form [formGroup]="addcurr" novalidate (ngSubmit)="onSubmit()">

                            <div  class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Amount" type="text" formControlName="amount">
                                </mat-form-field>
                            </div>

                            <div  class="col-md-4 form-group">
                                <mat-form-field appearance="fill">
                                  <mat-label>Currencies</mat-label>
                                  <mat-select formControlName="currency" >
                                    <mat-option  *ngFor="let curr of currency" [value]="curr.identifier">
                                      {{curr.identifier}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            
                            <div class="col-md-4 mt-3">
                                <button mat-raised-button type="submit" class="btn btn-Success pull-left">Add</button>
                            </div>
  
                            <div class="clearfix"></div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        
  
    
    </div>
</div>
  