/* @import "@material/elevation/mdc-elevation"; */

.card-header{
    background-color:#008080  ;
}
.card-title{
    color: white;
}
.card-header .card-category {
    color: white;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }