/* @import "@material/elevation/mdc-elevation"; */

.card-header{
    background-color:#008080  ;
}
.card-title{
    color: white;
}
.card-header .card-category {
    color: white;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
 
  
#d1 {
  font-family: 'Montserrat', sans-serif;
  position:absolute ;
  top:73%;
  left: 135px;
  z-index:1;
}

#d2 {
  font-family: 'Montserrat', sans-serif;
  position:absolute ;
  top:73%;
  left: 135px;
  z-index:1;
}

#d3 {
  font-family: 'Montserrat', sans-serif;
  position:absolute ;
  top:73%;
  left: 135px;
  z-index:1;
  size: 6px;
}

@media screen and (min-width: 320px) and (max-width: 426px)  {
  #d1 {
    font-family: 'Montserrat', sans-serif;
    position:absolute ;
    top:75%;
    left: 45px;
    z-index:1;
  }
  
  #d2 {
    font-family: 'Montserrat', sans-serif;
    position:absolute ;
    top:75%;
    left: 40px;
    z-index:1;
  }
  
  #d3 {
    font-family: 'Montserrat', sans-serif;
    position:absolute ;
    top:75%;
    left: 40px;
    z-index:1;
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px)  {
  #d1 {
    font-family: 'Montserrat', sans-serif;
    position:absolute ;
    top:70%;
    left: 30px;
    z-index:1;
  }
  
  #d2 {
    font-family: 'Montserrat', sans-serif;
    position:absolute ;
    top:70%;
    left: 30px;
    z-index:1;
  }
  
  #d3 {
    font-family: 'Montserrat', sans-serif;
    position:absolute ;
    top:70%;
    left: 30px;
    z-index:1;
  }
}

