
<div class="main-content">
    <div class="container-fluid">
        <i class="row mb-5 ml-2 fa fa-arrow-left" (click)="goBack()" aria-hidden="true"></i>

            <button mat-raised-button *ngIf="this.ongoing == 'true'" (click)="EndTrip()" color="warn">END TRIP</button>

    <div class="row mt-5">

        <!-- current trip expenses -->
            <div  class="col-md-4 mb-5 chart-container" style="position: relative; height:35vh; width:80vw">
                <h3 class="text-center  mb-3"  *ngIf="this.ongoing == 'true' ">Current Expenses</h3>
                <h3 class="text-center  mb-3"  *ngIf="this.ongoing !== 'true' ">Total Expenses</h3>
                <p id="d1" class="text-white" *ngIf="this.currLength == 0">NO TRANSACTIONS YET</p>
                <canvas *ngIf="this.currLength == 0" baseChart
                [data]="emptydata"
                [chartType]="pieChartType"
                [colors]="emptyColors"
                [options]="emptyOptions"></canvas>
                <canvas baseChart
                [data]="currentData" 
                [labels]="currentLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors" 
                [legend]="pieChartLegend">
              </canvas>
            </div>

            <!-- Today's trip expenses -->
            <div *ngIf="this.ongoing == true ">
            <div class=" col-md-4 mb-5 chart-container" style="position: relative; height:35vh; width:80vw">
              
                <h3 class="text-center mb-3">Today's Expenses</h3>
                <p id="d2" class="text-white" *ngIf="this.todayLength == 0">NO TRANSACTIONS YET</p>
                <canvas *ngIf="this.todayLength == 0" baseChart
                [data]="emptydata" 
                [chartType]="pieChartType"
                [colors]="emptyColors"
                [options]="emptyOptions"></canvas>
                <canvas *ngIf="this.todayLength > 0" baseChart
                [data]="todayData" 
                [labels]="todayLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors" 
                [legend]="pieChartLegend">
              </canvas>
             </div>
            </div>

            <!-- average trip expenses -->
            <div  class="col-md-4 mb-5 chart-container" style="position: relative; height:35vh; width:80vw">
                <h3 class="text-center mb-3">Average Expenses</h3>
                <p id="d3" class="text-white" *ngIf="this.avgLength == 0">NO TRANSACTIONS YET</p>
                <canvas *ngIf="this.avgLength == 0" baseChart
                [data]="emptydata"
                [chartType]="pieChartType"
                [colors]="emptyColors"
                [options]="emptyOptions"></canvas>
                <canvas baseChart
                [data]="avgData" 
                [labels]="avgLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors" 
                [legend]="pieChartLegend">
              </canvas>
            </div>

    </div>

  <!-- currency conversion transaction -->

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">Currency Conversion Transactions</h4>
            <p class="card-category ">user's transaction info</p>
        </div>        
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <th>Receipt ID</th>
                        <th>Source Holding</th>
                        <th>Converted Holding</th>
                        <th>Conversion Rate</th>
                        <th>Receipt Url</th>
                        <th>Remarks</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of items | paginate: { id: 'curr_con',
                        itemsPerPage: 10,
                        currentPage: curr_Page,
                        totalItems: TotalRecords }; let i = index;">
                            <td>{{data.receipt_id}}</td> 
                            <td>{{data.source_holding.amount}} {{data.source_holding.currency}}</td>
                            <td>{{data.converted_holding.amount}} {{data.converted_holding.currency}}</td> 
                            <td>{{data.rate_of_conversion}}</td> 
                            <td *ngIf="!(data.receipt_image_url)">No Receipt</td>
                            <td *ngIf="data.receipt_image_url">
                                <div class="example-button-row">
                                <button mat-raised-button color="primary" data-toggle="modal" data-target="#basicExample">View</button>
                                </div>

<div id="basicExample" class="modal fade left"  tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <img  class="h-100 w-100 img-responsive" src="{{data.receipt_image_url}}" alt="{{data.receipt_image_file_id}}">
            </div>
        </div>

    </div>
  </div>
</div>

                            </td>
                            <td>{{data.remarks}}</td>
                            <td style="color: green;" *ngIf="data.is_verified == true">Verified</td>
                            <td *ngIf="data.is_verified == false"><button mat-raised-button color="primary" (click)="isVerify(data._id)">Verify</button></td>
                        </tr>
                    </tbody>

                </table>
                <pagination-controls id="curr_con" (pageChange)="curr_Page = $event" maxSize="9" directionLinks="true"></pagination-controls>
               
            </div>
        </div>

      </div>
    </div>
</div>


  <!-- expense transaction -->

  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">Expenses Transactions</h4>
            <p class="card-category ">user's transaction info</p>
        </div>
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <th>Receipt ID</th>
                        <th>Expense Type</th>
                        <th>Total Expense</th>
                        <th>Work Expense</th>
                        <th>Personal Expense</th>
                        <th>Receipt Url</th>
                        <th>Remarks</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of expitems | paginate: { id: 'expense',
                        itemsPerPage: 10,
                        currentPage: expPage,
                        totalItems: TotalRecords }">
                            <td>{{data.receipt_id}}</td> 
                            <td>{{data.expense_type}}</td>
                            <td>{{data.total_expense.amount}} {{data.total_expense.currency}}</td>
                            <td>{{data.work_expense.amount}} {{data.work_expense.currency}}</td> 
                            <td>{{data.personal_expense.amount}} {{data.personal_expense.currency}}</td> 
                            <td *ngIf="!(data.receipt_image_url)">No Receipt</td>
                            <td *ngIf="data.receipt_image_url">
                                <div class="example-button-row">
                                <button mat-raised-button color="primary" data-toggle="modal" data-target="#basicExample">View</button>
                                </div>

<div id="basicExample" class="modal fade left"  tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <img  class="h-100 w-100 img-responsive" src="{{data.receipt_image_url}}" alt="{{data.receipt_image_file_id}}">
            </div>
        </div>

    </div>
  </div>
</div>

                            </td>
                            <td>{{data.remarks}}</td>
                            <td style="color: green;" *ngIf="data.is_verified == true">Verified</td>
                            <td *ngIf="data.is_verified == false"><button (click)="isVerify(data._id)" mat-raised-button color="primary">Verify</button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="expense" (pageChange)="expPage = $event" maxSize="9" directionLinks="true"></pagination-controls>
            </div>
        </div>

      </div>
    </div>
</div>

  <!-- reimbursement transaction -->

  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">Reimbursement Transactions</h4>
            <p class="card-category ">user's transaction info</p>
        </div>
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <th>Receipt ID</th>
                        <th>Total Expense</th>
                        <th>Work Expense</th>
                        <th>Personal Expense</th>
                        <th>Receipt Url</th>
                        <th>Remarks</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of cli_items | paginate: { id: 'reimburse',
                        itemsPerPage: 10,
                        currentPage: reimbursePage,
                        totalItems: TotalRecords }">
                            <td>{{data.receipt_id}}</td>
                            <td>{{data.total_expense.amount}} {{data.total_expense.currency}}</td>
                            <td>{{data.work_expense.amount}} {{data.work_expense.currency}}</td> 
                            <td>{{data.personal_expense.amount}} {{data.personal_expense.currency}}</td> 
                            <td *ngIf="!(data.receipt_image_url)">No Receipt</td>
                            <td *ngIf="data.receipt_image_url">
                                <div class="example-button-row">
                                <button mat-raised-button color="primary" data-toggle="modal" data-target="#basicExample">View</button>
                                </div>

<div id="basicExample" class="modal fade left"  tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <img  class="h-100 w-100 img-responsive" src="{{data.receipt_image_url}}" alt="{{data.receipt_image_file_id}}">
            </div>
        </div>

    </div>
  </div>
</div>

                            </td>
                            <td>{{data.remarks}}</td>
                            <td style="color: green;" *ngIf="data.is_verified == true">Verified</td>
                            <td *ngIf="data.is_verified == false"><button mat-raised-button color="primary">Verify</button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="reimburse" (pageChange)="reimbursePage = $event" maxSize="9" directionLinks="true"></pagination-controls>
            </div>
        </div> 
      </div>
    </div>
</div>

  <!-- client reimbursement transaction -->

  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">Client Reimbursement Transactions</h4>
            <p class="card-category ">user's expenses info</p>
        </div>
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <th>Receipt ID</th>
                        <th>Amount</th>
                        <th>Conversion Rate</th>
                        <th>Receipt Url</th>
                        <th>Remarks</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of re_items | paginate: { id: 'client',
                        itemsPerPage: 10,
                        currentPage: clientPage,
                        totalItems: TotalRecords }; let i = index">
                            <td>{{data.receipt_id}}</td> 
                            <td>{{data.client_reimbursement_amount.amount}} {{data.client_reimbursement_amount.currency}}</td>
                            <td>{{data.rate_of_conversion}}</td>
                            <td *ngIf="!(data.receipt_image_url)">No Receipt</td>
                            <td *ngIf="data.receipt_image_url">
                                <div class="example-button-row">
                                <button mat-raised-button color="primary" data-toggle="modal" data-target="#basicExample">View</button>
                                </div>

<div id="basicExample" class="modal fade left"  tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <img  class="h-100 w-100 img-responsive" src="{{data.receipt_image_url}}" alt="{{data.receipt_image_file_id}}">
            </div>
        </div>

    </div>
  </div>
</div>

                            </td>
                            <td>{{data.remarks}}</td> 
                            <td style="color: green;" *ngIf="data.is_verified == true">Transaction Verified</td>
                            <td *ngIf="data.is_verified == false"><button mat-raised-button color="primary">Verify</button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="client" (pageChange)="clientPage = $event" maxSize="9" directionLinks="true"></pagination-controls>
            </div>
        </div> 
      </div>
    </div>
</div>
 
</div>
</div>





