
<div class="main-content">
    <div class="container-fluid">
      <i class="fa fa-arrow-left" (click)="goBack()" aria-hidden="true"></i>

        <div class="row">
            <div class="col-md-12">
                <div class="card  ">
                    <div class="card-header rounded mdc-elevation--z6 card-header">
                        <h4 class="card-title">Edit Company</h4>
                        <p class="card-category">update company profile</p>
                    </div>
                    <div class="card-body rounded mdc-elevation--z8">
                        <form [formGroup]="editform" novalidate (ngSubmit)="onUpdate()">
  
                             <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Company Name" type="text" formControlName="company_name">
                                </mat-form-field>
                              </div>
  
                              <div class="col-md-4 form-group">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Full Name" type="text" formControlName="name">
                                  </mat-form-field>
                              </div>

                              <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Designation" type="text" formControlName="designation">
                                </mat-form-field>
                              </div>

                              <div class="col-md-4 form-group" >
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" formArrayName="email" type="text">
                                  </mat-form-field>
                              </div>

                              <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mobile" formArrayName="mobile" type="text">
                                </mat-form-field>
                              </div>

                              <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Location Type" formControlName="type" type="text">
                                </mat-form-field>
                              </div>

                                <div class="col-md-4 form-group">
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Location Area" formControlName="area" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 form-group">
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company Address" formControlName="company_address" type="text">
                                    </mat-form-field>
                                </div>
                            
                              <div class="col-md-4 mt-3">
                                <button mat-raised-button type="submit"  class="btn btn-Success pull-left">Update</button>
                              </div>
  
                            <div class="clearfix"></div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        
  
    
    </div>
</div>
  