/* @import "@material/elevation/mdc-elevation"; */

.card-header{
    background-color:#008080  ;
}
.card-title{
    color: white;
}
.card-header .card-category {
    color: white;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }