<div class="main-content">
    <div class="container-fluid">

            <div *ngIf="this.count == false || this.items == null; else elseBlock"></div>
            <ng-template #elseBlock>
                <button [routerLink]="['/usertrip/start-trip/', this.user_id]" mat-raised-button color="primary">START TRIP</button>
            </ng-template>

        <!-- <button *ngIf="this.items == null" (click)="StartTrip()"  mat-raised-button color="primary">START TRIP</button> -->

<div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">User Trips</h4>
            <p class="card-category ">user's trip info</p>
        </div>
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Starting Bal.</th>
                        <th>Current Bal.</th>
                        <th>Reimbursement Bal.</th>
                        <th>Status</th>
                        <th>Action</th>
                        <!-- <th>Currency</th> -->
                    </thead>
                    <tbody>
                        <tr  *ngFor="let data of items">
                            <td>{{data.started_at | date:'dd/MM/yyyy'}}</td>
                            <td>{{data.ended_at | date:'dd/MM/yyyy'}}</td> 
                            <td>
                                <li style="list-style: none;" *ngFor="let s_bal of data.starting_balance">{{s_bal.holding.amount}} {{s_bal.holding.currency}}</li>
                            </td>
                            <td>
                                  <li style="list-style: none;" *ngFor="let c_bal of data.current_balance">{{c_bal.amount}} {{c_bal.currency}}</li>
                            </td> 
                            <td>
                                  <li style="list-style: none;" *ngFor="let r_bal of data.reimbursement_balance">{{r_bal.amount}} {{r_bal.currency}}</li>
                            </td> 
                            <td style="color:green;font-weight: 600;" *ngIf="data.ongoing == true">Active</td>
                            <td style="color:blue;font-weight: 600;" *ngIf="data.ongoing == false">Completed</td>
                            <td>   
                                <div class="example-button-row">
                                   <a mat-button  [routerLink]="['/transactions/', this.user_id , data._id, data.ongoing]">View</a>
                                </div>
                            </td>
                            <!-- <td>
                                <button (click)="add_curr(data._id)" mat-raised-button color="primary">Add</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
    </div>
  </div>
</div>
</div>