<div class="main-content">
    <div class="container-fluid">
        <app-back></app-back>
<div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div  class="card-header rounded mdc-elevation--z6 card-header">
            <h4 class="card-title ">Transaction Logs</h4>
            <p class="card-category ">See logs info here</p>
        </div>
        <div class="card-body rounded mdc-elevation--z6">
            <div  class="table-responsive">
                <table class="table">
                    <thead class=" text-black">
                        <th>Message</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of items | paginate: { id: 'logs',
                        itemsPerPage: 10,
                        currentPage: logsPage,
                        totalItems: TotalRecords }; let i = index">
                            <td *ngIf="data.log_action == ''">{{data.message}}</td>
                            <td *ngIf="(data.log_action == 'update')||(data.log_action == 'create')" style="font-weight: 400;background-color: rgb(255,235,238,1);">{{data.message}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="logs" (pageChange)="logsPage = $event" maxSize="9" directionLinks="true"></pagination-controls>
    </div>
  </div>
</div>
</div>