<div class="logo">
    <!-- <a class="simple-text"> -->
        <div class="logo-img mx-auto mt-5">
            <img style="color: aqua;" src="./assets/images/plint.png"/>
        </div>
        <!-- Admin -->
    <!-- </a> -->
</div>

<div class="sidebar-wrapper">

  <div *ngIf="isMobileMenu()">
  
  </div>

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
       <!-- <li>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                {{node.name}}
                <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
            </mat-tree-node>
          </mat-tree>
</li>           -->
    </ul>

</div>
