
<div class="main-content">
    <div class="container-fluid">
        <app-back></app-back>
        <div class="row">
            <div class="col-md-12">
                <div class="card  ">
                    <div class="card-header rounded mdc-elevation--z6 card-header">
                        <h4 class="card-title">Start User Trip</h4>
                        <p class="card-category">Fill user's trip info</p>
                    </div>
                    <div class="card-body rounded mdc-elevation--z8">
                        
                <form [formGroup]="tripform" novalidate (ngSubmit)="onSubmit()">
  
                    <div formArrayName="itemRows" *ngFor="let item of formArr.controls; let i = index">                       
                        <div class="row"  [formGroupName]="i">
 
                            <div  class="col-sm-3 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Amount" type="text" formControlName="amount">
                                </mat-form-field>
                            </div>

                            <div  class="col-sm-3 form-group" >
                                <mat-form-field appearance="fill">
                                  <mat-label>Currencies</mat-label>
                                  <mat-select (selectionChange)="onEnter($event.value)" formControlName="currency">
                                    <mat-option  *ngFor="let curr of currency" [value]="curr.identifier">
                                      {{curr.identifier}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            
                            <div  *ngIf="this.tripform.value.itemRows[i].currency == 'USD' " class="col-sm-3 form-group" >
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="INR to USD Conversion Rate" type="text" formControlName="rate" >
                                </mat-form-field>
                            </div>

                            <div  *ngIf="this.tripform.value.itemRows[i].currency !== 'USD' " class="col-sm-3 form-group" >
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{this.place}}" type="text" formControlName="rate" >
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <button  (click)="deleteRow(i)" class="btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                            </div>

                        </div>     
                    </div>

                        <div class="row col-md-4 ">
                            <button type="button" (click)="addNewRow()" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        </div>

                            <div class="col-md-4 mt-5">
                                <button  mat-raised-button color="primary" type="submit" class=" ml-0">SUBMIT</button>
                            </div>
  
                            <div class="clearfix"></div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        
  
    
    </div>
</div>
  