
<div class="main-content">
    <div class="container-fluid">
      <app-back></app-back>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div  class="card-header rounded mdc-elevation--z6 card-header">
                    <h4 class="card-title ">Managers List</h4>
                    <p class="card-category ">About managers info</p>
                </div>
                <div class="card-body rounded mdc-elevation--z6">
                    <div  class="table-responsive">
                        <table class="table">
                            <thead class="text-center text-black">
                                <th>Empcode</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <!-- <th>Team members</th>
                                <th>ExpenseManager</th> -->
                            </thead>
                            <tbody class="text-center">
                                <tr   *ngFor="let data of items; let i = index;">
                                    <td>{{data.employee_code}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.role}}</td>
                                    <!-- <td *ngIf="data.role != 'senior_sales_manager' ">          
                                      <button  mat-raised-button type="submit" style="background-color: #1b96f3;" [routerLink]="['/team-members/', data._id]" class="btn btn-Success ">view</button>
                                    </td>
                                    <td *ngIf="data.role == 'senior_sales_manager' "></td>
                                    <td>{{data.is_expense_manager_user}}</td> -->
                                                                       
                                  </tr>
                            </tbody>
                        </table>
            </div>
          </div>
  
    
    </div>
  </div>
  