
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card  ">
                  <div class="card-header rounded mdc-elevation--z6 card-header">
                      <h4 class="card-title">Add User</h4>
                      <p class="card-category">Add new User</p>
                  </div>
                  <div class="card-body rounded mdc-elevation--z6">
                      <form [formGroup]="userform" novalidate (ngSubmit)="onSubmit()">

                           <div class="col-md-4 form-group">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Employee Code" type="text" formControlName="employee_code">
                              </mat-form-field>
                            </div>

                            <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Full Name" type="text" formControlName="name">
                                </mat-form-field>
                            </div>
                            
                            <div class="col-md-4 form-group">
                                <mat-form-field appearance="fill">
                                  <mat-label>Role</mat-label>
                                  <mat-select formControlName="role" >
                                    <mat-option *ngFor="let rol of role" [value]="rol">
                                      {{rol}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                          
                            <div class="col-md-4 form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" formControlName="email" type="text">
                                </mat-form-field>
                            </div>
                          
                            <div class="col-md-4 form-group">
                                <!-- <mat-form-field appearance="fill"> -->
                                  <mat-label class="row  mb-3 ml-0">Expense Manager</mat-label>
                                  <mat-radio-group class="row mb-3 ml-0" formControlName="is_expense_manager_user" aria-label="Expense Manager">
                                    <mat-radio-button [value]=true>True</mat-radio-button>
                                    <mat-radio-button [value]=false>False</mat-radio-button>
                                  </mat-radio-group>
                                  <!-- <mat-select formControlName="is_expense_manager_user" >
                                    <mat-option [value]=true>True</mat-option>
                                    <mat-option [value]=false>False</mat-option>
                                  </mat-select> -->
                                <!-- </mat-form-field> -->
                            </div>
                          
                            <div class="col-md-4 mt-3 mb-3">
                              <button mat-raised-button color="warn" type="submit" >SUBMIT</button>
                            </div>

                          <div class="clearfix"></div>
                      
                      </form>
                  </div>
              </div>
          </div>
        </div>
  
      
  </div>
</div>
